<!-- start custom head snippets -->

<!-- MathJax for Equations -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      macros: {
        RR: "{\\bf R}",
        bold: ["{\\bf #1}", 1],
        indep: "{\\perp \\!\\!\\! \\perp}",
      }
    },
    svg: {
      fontCache: 'global'
    },
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- Move TOC to Sidebar with Hamburger Menu on Mobile -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    var toc = document.querySelector("#TOC");
    if (toc) {
        var sidebar = document.getElementById("toc-sidebar");
        sidebar.innerHTML = "<h3>Table of Contents</h3>" + toc.innerHTML;
        toc.remove();

        // Add toggle functionality for mobile
        var toggleButton = document.getElementById("toc-toggle");
        toggleButton.addEventListener("click", function() {
            sidebar.classList.toggle("open");
        });
    }
});
</script>

<!-- end custom head snippets -->
